[submodule "resume-hijiangtao"]
	path = resume-hijiangtao
	url = ./resume-hijiangtao
[submodule "tex"]
	path = tex
	url = ./tex
[submodule "tex/hijiangtao"]
	path = tex/hijiangtao
	url = https://github.com/MarkShawn2020/my-resume-latex
	branch = main
